{% extends "blog/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend> Login </legend>
                {{form | crispy}}
            </fieldset>
            <div>
                <button type="submit" class="btn btn-outline-success">Sign in</button>
            </div><br>
            <div>
                <button type="submit" class="btn btn-outline-danger">forget password</button>
            </div>
        </form>
    </div>
{% endblock content %}