{% extends "blog/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="{{ user.profile.image.url }}" alt="{{ user.first_name }} {{ user.last_name }}" width="200px" height="200px"  class="rounded-circle mr-auto img-fluid">
        </div>
        <div class="col-9">
            <h3 style="color: rgb(0, 90, 163); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-top: 70px;"> Hi <b>{{ user.username }}</b></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>
                    <legend> Basic info </legend>
                    {{user_form | crispy}}
                    {{profile_form | crispy}}
                </fieldset>
                <div>
                    <button type="submit" class="btn btn-outline-success">Update</button>
                </div>
            </form>
        </div>
    </div>
    
</div>
{% endblock content %}